@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Your custom styles can go here */
.btn-danger{
    background-color: #92111e !important;
    border: none !important;
}
body{
    font-family: "Poppins", sans-serif !important;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(194, 193, 193);
}
input{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgb(239, 238, 238) !important;
    border: none !important;
}
input:focus{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgb(239, 238, 238) !important;
}
.small{
    font-size: 12px;
}
.slate
{
    color: rgb(239, 238, 238) !important;
    font-weight: 500 !important;
}
.slate-light{
    color: rgb(194, 193, 193);
    font-weight: 400;
}
a{
    text-decoration: none !important;
}
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -.125em;
    fill: rgb(239, 238, 238);
}
.list-group-item{
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
    border:none !important;
}
.list-group-item:hover{
    background-color: rgba(33, 33, 33, 0.3);
    cursor: pointer;
}
@media (min-width: 767px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
}
@media only screen and (max-width: 767px) {
    /* Your mobile styles here */
    .offcanvas-md{
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        background-repeat: no-repeat;
    }
}

.sidebar .nav-link {
font-size: .975rem;
font-weight: 500;
color: rgb(194, 193, 193) !important;
}
.sidebar .nav-link.active {
color: #2470dc;
}
.sidebar-heading {
font-size: .75rem;
}
.navbar-brand {
padding-top: .75rem;
padding-bottom: .75rem;
/* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}
.navbar .form-control {
padding: .75rem 1rem;
}
.btn-group .btn {
    font-size: 12px !important;
}
.btn-primary.btn-sm {
    font-size: 12px;
    margin: 2px;
}
.nav-bg{
    background-color: #4e7290 !important;
}
